.podcast-info__summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
    align-items: center;
    padding: .5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.podcast-info__summary img {
    width: 70%;
}

.podcast-info__summary a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.podcast-info__summary h3 {
    text-align: left;
    margin-bottom: 0;
    font-size: 1rem;
}

.podcast-info__summary div {
    font-style: italic;
    font-size: .8rem;
}


.podcast-info__summary p {
    
    font-style: italic;
    font-size: .7rem;
}

.podcast-info__summary p:first-child {
    font-weight: bold;
    font-style: normal;
}