.podcast-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.podcast-count {
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-weight: bold;
}

.podcast-episodes {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.table-item {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 1rem;
    font-size: .8rem;
    margin-bottom: 1rem;
   
}

.table-item__title {
    text-align-last: left;
    
}

.table-item__title a {
    color: var(--accent-color);
    text-decoration: none;
}

.table-item__date,
.table-item__duration {
    text-align-last: right;
}

.audio {
    width: 100%;
    margin-bottom: 1rem;
}