:root {
  --accent-color: rgb(69, 120, 167);
  --border-color: rgb(177, 175, 175);
  --box-shadow: 2px 3px 2px var(--border-color);
  --border-radius: 3px;
  --card-width: 150px;
  --card-height: 200px
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
